ul {
    list-style-type: none;
    padding: 0;
    
}
li a{
    text-decoration: none;
    color:#fff;
    display: inline-grid;
}
a:hover{
    color:#fff;
}
.right-nav{
    padding: 26px 0 20px 0;
    background-color: black;
  
}